<!-- <nav style="background:#007bff; padding:10px;">
  <a routerLink="/home" routerLinkActive="active" style="margin-right:15px; color:white;">Home</a>
  <a routerLink="/about" routerLinkActive="active" style="margin-right:15px; color:white;">About</a>
  <a routerLink="/shop" routerLinkActive="active" style="margin-right:15px; color:white;">Shop</a>
  <a routerLink="/abcd" routerLinkActive="active" style="margin-right:15px; color:white;">Error</a>
  <a routerLink="/contact" routerLinkActive="active" style="color:white;">Contact</a>
</nav> -->



<!-- <app-navbar *ngIf="isLoggedIn"></app-navbar>
<router-outlet></router-outlet>
<app-footer  *ngIf="isLoggedIn"></app-footer> -->

<!-- 
<div style="background-color: antiquewhite; border-radius: 5px;">
  <app-parent></app-parent>
</div>
<hr>
<div style="background-color: rgb(213, 247, 146); border-radius: 5px;">
  <app-child [childMessage]="rootMessage"></app-child>
</div>
<hr>
<div style="background-color: rgb(146, 188, 247); border-radius: 5px;">
  <app-child></app-child>
</div> -->

<app-sender></app-sender>
<hr>
<app-receiver></app-receiver>